:root {
    --MyBlueColor: dodgerblue;
    --MyGrayColor: lightslategray;
    --MyGreenColor: rgb(0, 60, 0);
    --MyLineColor: #777777;
    --MyTransition200: 200ms;
    --MyDefaultFontSize: 20px;
    --MyMobileFontSize: 60px;
}

body {
    background-color: var(--MyGreenColor);
    background-image: linear-gradient(var(--MyLineColor) 1px, transparent 0px), linear-gradient(90deg, var(--MyLineColor) 1px, transparent 0px);
    background-size: 22px 22px, 22px 22px;
    background-position: -1px -1px, -1px 1px;
}

text {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: var(--MyDefaultFontSize);
    color: white;
}

.buttonText {
    font-size: 16px;
}

#bottomText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.textbox {
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 80px;
    height: var(--MyDefaultFontSize);
    font-size: var(--MyDefaultFontSize);
    text-align: right;
}

.checkbox {
    vertical-align: middle;
    margin-bottom: 6px;
    margin-left: 24px;
}

label {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 12px;
    color: white;
}

.checkbox:hover+label {
    color: var(--MyBlueColor);
    transition: var(--MyTransition200);
}

button {
    margin-top: 6px;
    border-width: 1px;
    border-radius: 3px;
    border-color: black;
    background-color: var(--MyGrayColor);
    width: 80px;
    height: 26px;
}

button:hover {
    background-color: var(--MyBlueColor);
    color: white;
    border-width: 1px;
    border-radius: 3px;
    border-color: black;
    transition: var(--MyTransition200);
}

#footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 4px 0 2px 8px;
    background: var(--MyGrayColor);
    color: white;
    width: 100%;
    height: 15px;
}

@media screen and (max-width: 1080px) {
    body {
        background-color: var(--MyGreenColor);
        background-image: linear-gradient(var(--MyLineColor) 2px, transparent 0px), linear-gradient(90deg, var(--MyLineColor) 2px, transparent 0px);
        background-size: 40px 40px, 40px 40px;
        background-position: -1px -1px, -1px 1px;
    }
    #footer {
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(var(--MyMobileFontSize) / 2);
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 4px 0 10px 8px;
        background: var(--MyGrayColor);
        color: white;
        width: 100%;
        height: calc(var(--MyMobileFontSize) / 2);
    }
    text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: var(--MyMobileFontSize);
    }
    #buttonText {
        font-size: var(--MyMobileFontSize);
    }
    #bottomText {
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(var(--MyMobileFontSize) / 2);
    }
    .checkbox {
        vertical-align: middle;
        margin-bottom: 20px;
        margin-left: 60px;
        margin-right: 30px;
        transform: scale(3);
    }
    label {
        /* font-family: Arial, Helvetica, sans-serif; */
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-size: 28px;
    }
    .textbox {
        font-family: Comic Sans MS, Comic Sans, cursive;
        width: 20%;
        height: var(--MyMobileFontSize);
        font-size: var(--MyMobileFontSize);
        text-align: right;
    }
    button {
        margin-top: 20px;
        border-width: 1px;
        border-radius: 3px;
        border-color: black;
        width: 30%;
        height: calc(var(--MyMobileFontSize) + 20px);
    }
}

@media screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .textbox {
        width: 14%;
        height: var(--MyMobileFontSize);
        font-size: var(--MyMobileFontSize);
        text-align: right;
    }
}

@media screen and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) {
    .textbox {
        width: 14%;
        height: var(--MyMobileFontSize);
        font-size: var(--MyMobileFontSize);
        text-align: right;
    }
}

@media only screen and (min-width: 393px) and (max-width: 767px) {
    .textbox {
        width: 20%;
        height: var(--MyMobileFontSize);
        font-size: var(--MyMobileFontSize);
        text-align: right;
    }
}