:root {
    --MyBlueColor: dodgerblue;
    --MyTransition200: 200ms;
}

text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.buttonText {
    font-size: 16px;
}

#bottomText {
    font-size: 12px;
}

.textbox {
    width: 80px;
    height: 20px;
    font-size: 20px;
    text-align: right;
}

.checkbox {
    vertical-align: middle;
    margin-bottom: 6px;
    margin-left: 24px;
}

.checkbox:hover+label {
    color: var(--MyBlueColor);
    transition: var(--MyTransition200);
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

button {
    margin-top: 6px;
    border-width: 1px;
    border-radius: 3px;
    border-color: black;
    width: 80px;
    height: 26px
}

button:hover {
    background-color: dodgerblue;
    color: white;
    border-width: 1px;
    border-radius: 3px;
    border-color: black;
    transition: 200ms;
}

#footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 4px 0 2px 8px;
    background: var(--MyBlueColor);
    color: white;
    width: 100%;
    height: 15px;
}

@media screen and (max-width: 1080px) {
    #footer {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 4px 0 10px 8px;
        background: var(--MyBlueColor);
        color: white;
        width: 100%;
        height: 5%;
    }
    text {
        font-family: Arial, Helvetica, sans-serif;
        /* font-size: 40px; */
    }
    #bottomText {
        font-size: 36px;
    }
}